# Data Preparation Basics
## Part 1 - Filtering and selecting data

1. What is NumPy, and what is its primary purpose in Python?

2. What is Pandas, and what is its primary purpose in Python?

3. Use an empty cell to answer these questions.

1. It is a library used for working with arrays and mathematical functions

2. It is a library (open source) used to make visual represantaion of data like graphs

In [20]:
# Import important library
import numpy as np
import pandas as pd

# Two data types: Series and DataFrame
# Series can only contain single list with index
# Dataframe is a collection of series that can be used to analyse the data (a table with rows and columns)
from pandas import Series, DataFrame

In [24]:
# Without an index
serios_obj = Series(np.arange(10))
serios_obj
# With an index
# Practise both
series_obj = Series(np.arange(10), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6','row 7', 'row 8', 'row 9', 'row 10'])
series_obj

row 1     0
row 2     1
row 3     2
row 4     3
row 5     4
row 6     5
row 7     6
row 8     7
row 9     8
row 10    9
dtype: int64

In [22]:
# Print the index of row 7
series_obj['row 7']

np.int64(6)

In [47]:
# Print both indexes at row 1 & 8
series_obj[[0, 7]]

/var/folders/3p/z_6wf96j4vzcn5vs42fwvbgw0000gn/T/ipykernel_72417/1616229535.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_obj[[0, 7]]

row 1    8
row 8    8
dtype: int64

In [39]:
# Populate the list with random values
# np.random.seed(25)

# Search random.seed in Python and provide an explaniation here: ...
# What does seed function do?
# used to initialize the random number generator.
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

# Run the above code with and without np.random.seed and reflect on the difference here: ...

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
row 2  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
row 3  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
row 4  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
row 5  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
row 6  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

In [41]:
#Find data at different location
DF_obj.loc[['row 5', 'row 6'], ['column 5', 'column 2']]
# What does loc function do?
# selects data from a DataFrame using labels

       column 5  column 2
row 5  0.842154  0.825139
row 6  0.027474  0.913676

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [8]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [43]:
DF_obj < .2
# Use greater than instead and reflect on the result

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False     False      True     False
row 2     False     False     False     False     False     False
row 3      True     False      True     False      True     False
row 4     False     False     False     False     False     False
row 5     False     False     False      True     False     False
row 6     False     False     False     False      True     False

### Filtering with scalars

In [44]:
# Retrieves all elements in series_obj that are greater than 6.
series_obj[series_obj < 5]

# Retrive all elements that are smaller than 5

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
dtype: int64

### Setting values with scalars

In [46]:
# Assign the value 8 to specific rows using .loc
series_obj.loc[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1     8
row 2     1
row 3     2
row 4     3
row 5     8
row 6     5
row 7     6
row 8     8
row 9     8
row 10    9
dtype: int64

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.